// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

p {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;

}

#container {
  margin: 40px;
}

form {
  width: max-content;
}
#input1{
  width: 1000px;
  padding: 20px;
}
#input2{
  padding: 20px;
  width: 50px;
  height: 60px;
  
}